In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
dfs=pd.read_csv('Train.csv')

In [3]:
dfs=pd.read_csv('Train.csv')

In [5]:
array=dfs.values
print(array)

[[ 2.93416239e-01 -9.45598713e-01 -4.21105147e-01  4.06816021e-01
   5.25661832e-01 -8.21546666e+01]
 [-8.36084081e-01 -1.89228039e-01 -7.76402618e-01 -1.05383124e+00
   5.97996852e-01 -4.88979602e+01]
 [ 2.36425114e-01  1.32836018e-01 -1.47722982e-01  6.99853963e-01
  -1.87364163e-01  7.72703707e+01]
 ...
 [ 1.04417694e+00 -8.99206485e-01  1.73039905e+00 -1.87105676e+00
   4.42519647e-01 -1.07510508e+02]
 [-1.26917290e+00 -5.05215916e-03  1.85766873e+00 -1.08036482e+00
   7.36333937e-01 -4.73415578e+01]
 [-1.88400025e+00 -8.49427430e-01 -1.45227035e+00  4.88613076e-01
   1.45957580e+00 -1.15939003e+02]]

In [6]:
X=array[:,:5]
y=array[:,5]

In [ ]:
X.shape

In [7]:
y.shape

(1600,)

In [8]:
plt.style.use('seaborn')

In [9]:
u = np.mean(X,axis =0)
std = np.std(X,axis=0)
X = (X-u)/std

In [10]:
u.shape

(5,)

In [12]:
std.shape

(5,)

In [13]:
ones = np.ones((X.shape[0],1))
X = np.hstack((ones,X))
print(X.shape)

(1600, 6)

In [14]:
def hypothesis(X,theta):
    return np.dot(X,theta)
def error(X,y,theta):
    error=0.0
    m=X.shape[0]
    y_=hypothesis(X,theta)
    e=np.sum((y-y_)**2)
    return e/m
def gradient(X,y,theta):
    y_ = hypothesis(X,theta)
    grad = np.dot(X.T,(y_-y))
    m = X.shape[0]
    return grad/m
def gradient_descent(X,y,learning_rate =0.1,max_iters=300):
    n = X.shape[1]
    theta = np.zeros((n,))
    error_list = []
    for i in range(max_iters):
        e = error(X,y,theta)
        error_list.append(e)
        #gradient descent 
        grad = gradient(X,y,theta)
        theta = theta-learning_rate*grad
    return theta,error_list

In [15]:
theta,error_lsit = gradient_descent(X,y)

In [16]:
theta

array([ 0.31883538, 29.59359198, 94.65067706,  8.37544469, 45.52303635,
        2.46461552])

In [17]:
y_ = []
for i in range (X.shape[0]):
    pred = hypothesis(X[i],theta)
    y_.append(pred)
y_ = np.array(y_)

In [19]:
def r2_score(y,y_):
    num = np.sum((y-y_)**2)
    denom = np.sum((y-y.mean())**2)
    score = (1-num/denom)
    return score*100 
r2_score(y,y_)

96.60939669975616

In [20]:
# Predictions on test data 
df= pd.read_csv('Test.csv')
df.head()

   feature_1  feature_2  feature_3  feature_4  feature_5
0   1.015254   2.076209  -0.266435  -2.418088  -0.980503
1  -0.375021   0.953185   0.626719   0.704406  -0.355489
2  -1.024452   0.962991  -0.407942  -1.861274   0.455201
3  -2.489841   0.544802   0.601219  -0.607021  -1.314286
4  -0.384675  -0.833624   1.358552  -0.547932   0.411925

In [21]:
X_test = df.values

In [23]:
y_test = []

In [24]:
for i in range(X.shape[0]):
    pred = hypothesis(X[i],theta)
    y_test.append([i,pred])
y_test = np.array(y_test)
y_test = pd.DataFrame(y_test,columns=["id","target"])
y_test.to_csv("Air.csv",index=False)